{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center my-4">{% block title %}Main page{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div class="text-center">
		<p>Enter your boardgamegeek username, and press fetch recommendations</p>
		<form method="post" class="w-50 mx-auto">
			<div class="my-4">
				<input name="username" id="username" type="text" class="form-control" placeholder="Username" required>
			</div>
			<div class="text-center">
				<button class="btn btn-primary" type="submit">Get my recommendations</button>
			</div>
		</form>
	</div>
{% endblock %}
