{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Main page{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if recommendations %}
    <h3> Recommendations for {{ recommendations['username'] }}</h3>
    <ol>
	{% for rec in recommendations['recommendations'] %}
	  <li><a href={{'https://boardgamegeek.com/boardgame/' +  rec.id}}>{{rec.name}}</a></li>
	{% endfor %}
    </ol>
  {% else %}
	<p>Enter your boardgamegeek username, and press fetch recommendations</p>
	<form method="post">
		<label for="username">Username</label>
		<input name="username" id="username" required>
		<input type="submit" value="Get my recommendations">
	</form>
  {% endif %}
{% endblock %}
