{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center my-4">{% block title %}Recommendations page{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if recommendations %}
    <div class="text-center">
      <p> Recommendations for {{ recommendations['username'] }}</p>
      <table class="table table-striped w-80 mx-auto text-start">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Game</th>
            <th scope="col">Match Score</th>
            <th scope="col" class="ratings-col">Ratings</th>
          </tr>
        </thead>
        <tbody>
          {% for rec in recommendations['recommendations'] %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                <a href="{{ 'https://boardgamegeek.com/boardgame/' + rec.id }}">{{ rec.name }}</a>
              </td>
              <td></td>
              <td>
                <canvas id="{{ rec.id }}"></canvas>  
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <form action="{{ url_for('reset') }}" method="get">
        <button type="submit" class="btn btn-primary">Reset</button>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='chart.js') }}"></script>
  <script>
    const recJson = {{ recommendations['recommendations'] | tojson }};
    recJson.forEach(rec => {
      initChart(rec.id, rec.ratings);
    });
  </script>
{% endblock %}
